<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MantisConnectBinding" />
        <binding name="MantisConnectBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
       <endpoint address="http://localhost/mantisbt-2.12.0/api/soap/mantisconnect.php"
        binding="basicHttpBinding" bindingConfiguration="MantisConnectBinding1"
        contract="Mantis.MantisConnectPortType" name="MantisConnectPort" />
    </client>
  </system.serviceModel>
</configuration>